# pdflatex output files
*.out
*.log
*.pdf
*.aux
*.snm
*.toc
*.nav
*.orig

.vscode/*
build/*
CMakeFiles
.gitignore
cmake_install.cmake
CMakeCache.txt
Makefile
main
CTestTestfile.cmake 
main

build/*
Testing/*
